<!DOCTYPE html>
<html lang ="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Pinelands Music School{% endblock %}</title>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<style>
		#map {
			height: 300px;
			width: 100%;
	   	}
		body {
			display: flex;
			min-height: 100vh;
			flex-direction: column;
		}

		main {
			flex: 1 0 auto;
		}
	</style>
</head>

<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	<nav>
		<div class="nav-wrapper blue darken-4">
			<a href="{% url 'index' %}" class="brand-logo center white-text">Pinelands Music School</a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				{% if user.is_authenticated %}
					<li id="index"><a href="{% url 'index' %}">home</a></li>
					<li id="profile"><a href="{% url 'profile' %}">profile</a></li>
					<li id="booking"><a href="{% url 'booking' %}">book a lesson</a></li>
					<li id="apply for a teaching position"><a href="{% url 'apply' %}">apply for a teaching position</a></li>
					<li id="rent an instrument"><a href="{% url 'instrument' %}">rent an instrument</a></li>
				{% else %}
					<li id="login"><a href="{% url 'login' %}">login</a></li>
					<li id="signup"><a href="{% url 'signup' %}">signup</a></li>
					<li id="apply for a teaching position"><a href="{% url 'apply' %}">apply for a teaching position</a></li>
					<li id="rent an instrument"><a href="{% url 'instrument' %}">rent an instrument</a></li>
				{% endif %}
			</ul>
			{% if user.is_authenticated %}
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li id="logout"><a href="{% url 'logout' %}">logout</a></li>
				</ul>
			{% endif %}
		</div>	
	</nav>
	
	{% block javascript %}
		<script>
			switch (window.location.pathname) {
				case '/music_school/index/':
					document.getElementById("index").classList.add('active');
					break;
				case '/music_school/profile/':
					document.getElementById("profile").classList.add('active');
					break;
				case '/music_school/booking/':
					document.getElementById("booking").classList.add('active');
					break;        
				case '/music_school/logout/':
					document.getElementById("logout").classList.add('active');
					break;
				case '/music_school/login/':
					document.getElementById("login").classList.add('active');
					break;
				case '/music_school/signup/':
					document.getElementById("signup").classList.add('active');
					break;
			}
		</script>
	{% endblock javascript %}
	<main>
		{% block content %}
		
		{% endblock %}
	</main>

	
</body>

<footer class="page-footer blue darken-2 white-text">
	<div class="footer-copyright">
		<div class="container">
			My footer
		</div>
	</div>
</footer>

</html>