{% extends 'default.html' %}
{% load widget_tweaks %}
{% block content %}
<br>
<div class="container">
<div class="card-panel blue-grey darken-1 white-text">
	<h3>Make a lesson booking here!</h3>
</div>

{% if user.is_authenticated %}


	<div class="row">
		<form class="booking" id="booking" action="" method="post">
		{% csrf_token %}
		<div class="col s4">

		<br><br>

			{% for field in form %}
		    	<p>
		    		{{ field.label_tag }}<br>
		    		{{ field }}
		    		{% if field.help_text %}
		    			<small style="color: grey">{{ field.help_text }}</small>
		    		{% endif %}
		    		{% for error in field.errors %}
		    			<p style="color: red">{{ error }}</p>
		    		{% endfor %}
		    	</p>
		    	<br>
		    {% endfor %}

		    <br>
			<p>
				<label>
					<input id="recurring" name="recurringBox" type="checkbox" onchange="recurringChange()">
					<span>Recurring lesson?</span>
				</label>
			</p>

		    <button id="register" class="btn waves-effect waves-light" type="submit">Submit<i class="material-icons right" onclick="submitForms()">send</i></button>
			</div>

			<div id="bookingNotes">
		<br><br><br><br><br><br><br><br>
			<div class="col s6 offset-s2">
				<div class="card blue-grey darken-1">
					<div class="card-content white-text">
					<span class="card-title"><b> Please Note</b></span>
						<p>Before making a booking, please take time to view the chosen teacher's profile, as it contains information about their availability, proficient instrument/s, and qualifications. </p>
					</div>
				</div>
			</div>
		</div>

		</form>
		<form class="recurringBooking" id="recurringBooking" action="" method="post">
			{% csrf_token %}
			<div id="recurringForm" style="display: none">
			<br><br>
				<div class="col s4 offset-s2">

					{% for field in form2 %}
		    	<p>
		    		{{ field.label_tag }}<br>
		    		{{ field }}
		    		{% if field.help_text %}
		    			<small style="color: grey">{{ field.help_text }}</small>
		    		{% endif %}
		    		{% for error in field.errors %}
		    			<p style="color: red">{{ error }}</p>
		    		{% endfor %}
		    	</p>
		    	<br>
		    {% endfor %}

				</div>
			</div>
		</form>
	</div>
</div>
{% else %} <!--If user isnt authenticated, tell them to login first-->
	<br><br>
	<h4 style="color: red"> Please Login before making a booking </h4>
	</div>



{% endif %}

{% block javascript %}
<script>

  var elem = document.querySelectorAll('select');
  var instance = M.FormSelect.init(elem, {});

  //function to handle checkbox change
  function recurringChange(){
  	if(document.getElementById("recurring").checked){ //showing secondary form for recurring lessons
  		document.getElementById("bookingNotes").style.display = "none";
  		document.getElementById("recurringForm").style.display = "initial";
  	}else{ //hiding secondary form for recurring lessons
		document.getElementById("bookingNotes").style.display = "initial";
  		document.getElementById("recurringForm").style.display = "none";
  	}
  }

  function submitForms(){
  	document.getElementById("booking").submit();
  	document.getElementById("recurringBooking").submit();
  }

</script>
{% endblock javascript %}
	
{% endblock %}