{% extends 'default.html' %}
{% block content %}
<br>
<div class="container">
<div class="card-panel blue-grey darken-1 white-text">
	<h3>Make a lesson booking here!</h3>
</div>

{% if user.is_authenticated %}


	<div class="row">
		<form class="booking" action="" method="post">
		{% csrf_token %}
		<div class="col s4">

		<br><br>

			<div class="input-field">
				<select name="teacherSelect">
					<option value="" disabled selected>Select a teacher</option>
					<option value="1">Jane Doe</option>
					<option value="2">Mika Jones</option>
					<option value="3">Mike Lee</option>
					<option value="4">Clint Stevens</option>
				</select>
				<label>Available teachers</label>
				
			</div>

			<br><br>

			<div id="calendar">
				<label>Lesson Date</label>
				<input type='text' value="Select a Date" class='datepicker' name="dateSelect">
			</div>

		
			<br><br>
			<div class="input-field">
				<select name="timeSelect">
					<option value="" disabled selected>Select a time</option>
					<option value="1">10:30am</option>
					<option value="2">11:00am</option>
					<option value="3">12:00am</option>
					<option value="4">1:00pm</option>
					<option value="5">2:30pm</option>
				</select>
				<label>Available starting times</label>
				
			</div>
			<br><br>
			<div class="input-field">
				<select name="durationSelect">
					<option value="" disabled selected>Select an option</option>
					<option value="1">30 Minutes</option>
					<option value="2">60 Minutes</option>
				</select>
				<label>Lesson duration</label>
				
			</div>

			<br><br>

			<div class="input-field">
				<select name="instrumentSelect">
					<option value="" disabled selected>Select an instrument</option>
					<option value="1">Guitar</option>
					<option value="2">Bass</option>
					<option value="3">Violin</option>
				</select>
				<label>Instrument of focus</label>
				
			</div>

			<br><br>
			<p>
				<label>
					<input id="recurring" name="recurringBox" type="checkbox" onchange="recurringChange()">
					<span>Recurring lesson?</span>
				</label>
			</p>

			<br>

			<div id="submitBtn">
				<button class="btn waves-effect waves-light" type="submit" name="action">Submit
				<i class="material-icons right">send</i>
			</div>
		</div>
		</form>

		

		<div id="bookingNotes">
		<br><br><br><br><br><br><br><br>
			<div class="col s6 offset-s2">
				<div class="card blue-grey darken-1">
					<div class="card-content white-text">
					<span class="card-title"><b> Please Note</b></span>
						<p>Before making a booking, please take time to view the chosen teacher's profile, as it contains information about their availability, proficient instrument/s, and qualifications. </p>
					</div>
				</div>
			</div>
		</div>


		

		<form class="recurringBooking" action="" method="post">
			{% csrf_token %}
			<div id="recurringForm" style="display: none">
			<br><br>
				<div class="col s4 offset-s2">
					<div class="input-field">
						<select name="repeatedLessonSelect">
							<option value="" disabled selected>Select an option</option>
							<option value="1">Weekly</option>
							<option value="2">Fornightly</option>
							<option value="3">Twice per week</option>
							<option value="4">Three times per week</option>
						</select>
						<label>How often?</label>
					</div>

					<br><br>

					<div class="input-field">
						<select name="secondDaySelect">
							<option value="" disabled selected>Select an option</option>
							<option value="1">Monday</option>
							<option value="2">Tuesday</option>
							<option value="3">Wednesday</option>
							<option value="4">Thursday</option>
							<option value="5">Friday</option>
						</select>
						<label>Secondary lesson day</label>
					</div>

					<br><br>

					<div class="input-field">
						<select name="secondTimeSelect">
							<option value="" disabled selected>Select a time</option>
							<option value="1">10:30am</option>
							<option value="2">11:00am</option>
							<option value="3">12:00am</option>
							<option value="4">1:00pm</option>
							<option value="5">2:30pm</option>
						</select>
						<label>Secondary lesson starting time</label>
					</div>

					<br><br>

					<div class="input-field">
						<select name="thirdDaySelect">
							<option value="" disabled selected>Select an option</option>
							<option value="1">Monday</option>
							<option value="2">Tuesday</option>
							<option value="3">Wednesday</option>
							<option value="4">Thursday</option>
							<option value="5">Friday</option>
						</select>
						<label>Tertiary lesson day</label>
					</div>

					<br><br>

					<div class="input-field">
						<select name="thirdTimeSelect">
							<option value="" disabled selected>Select a time</option>
							<option value="1">10:30am</option>
							<option value="2">11:00am</option>
							<option value="3">12:00am</option>
							<option value="4">1:00pm</option>
							<option value="5">2:30pm</option>
						</select>
						<label>Tertiary lesson starting time</label>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% else %} <!--If user isnt authenticated, tell them to login first-->
	<br><br>
	<h4 style="color: red"> Please Login before making a booking </h4>
	</div>



{% endif %}

{% block javascript %}
<script>

  var elem = document.querySelector('.datepicker');
  var elem2 = document.querySelectorAll('select');
 	M.Datepicker.init(elem,{
  	format:'dd-mm-yy',
  	disableWeekends: true,
  	yearRange: 1,
  });
  var instance = M.FormSelect.init(elem2, {});

  //function to handle checkbox change
  function recurringChange(){
  	if(document.getElementById("recurring").checked){ //showing secondary form for recurring lessons
  		document.getElementById("bookingNotes").style.display = "none";
  		document.getElementById("recurringForm").style.display = "initial";
  	}else{ //hiding secondary form for recurring lessons
		document.getElementById("bookingNotes").style.display = "initial";
  		document.getElementById("recurringForm").style.display = "none";
  	}
  }

</script>
{% endblock javascript %}
	
{% endblock %}
