{% extends 'default.html' %}

{% block content %}
<div class="container">
	<h2 id="auth">Login</h2>
	<div class="row">
		<div class="col s6">
		<form action="" method="post" enctype=multipart/form-data>
		    {% csrf_token %}
		    {% for field in form %}
		    	<p>
		    		{{ field.label_tag }}<br>
		    		{{ field }}
		    		
		    		{% for error in field.errors %}
		    			<p style="color: red">{{ error }}</p>
		    		{% endfor %}
		    	</p>
		    {% endfor %}
		    <button id="register" class="btn waves-effect waves-light" type="submit">Login<i class="material-icons right">send</i></button>
		</form>
	</div>
	</div>
</div>

{% block javascript %}
	<script>
		switch (window.location.pathname) {
			case '/music_school/login/':
				document.getElementById("auth").innerHTML = "Login";
				document.getElementById("register").innerHTML = "Login";
				break;
			case '/music_school/signup/':
				document.getElementById("register").innerHTML = "Register";
				document.getElementById("auth").innerHTML = "Register"
				break;
		}
	</script>
{% endblock %}

{% endblock %}